<p>Hello <%= @user.first_name %>,</p>
<p>Welcome to my online portal. Here, you'll be able to view the status of your project's requirements, contract, and invoices, as well as make payments online. I'm adding new features frequently!</p>
<p>Within a few moments, you'll receive a second e-mail containing instructions to securely set your password. Thanks for doing so promptly.</p>
<p>A note on privacy: I cannot and do not know your password, it is strongly encrypted. I do not have access to, nor do I store your financial information; I leave that up to PayPal. Your contact information is stored securely on my Heroku server, and I do not access it aside from purposes of contacting you. I will never provide your information to anyone without your explicit permission. If you have any questions or concerns, please feel free to contact me!</p>
<p>Once you've recieved the e-mail to set your password, you can visit <a href = 'https://portal.aaronrohrbacher.com/'>https://portal.aaronrohrbacher.com/</a> any time to see your project's status, or pay online!</p>
<p>I look forward to working with you, and thank you for choosing me for your software needs!</p>
<p>Aaron Rohrbacher<br />
Software Engineer and Web Developer<br />
(971) 361-0300<br />
aaron@aaronrohrbacher.com</p>
