<p>Hello <%= @resource.first_name %>,</p>

<p>Either I or you have requested your password to be set or reset. If you didn't recieve a welcome e-mail a few moments ago, or did not request a password reset on my portal, please disregard this message, and feel free to notify me!</p>

<p><%= link_to 'Please click here to securely reset your password.', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Many thanks,</p>
<p>Aaron Rohrbacher<br />
Software Engineer and Web Developer<br />
(971) 361-0300<br />
aaron@aaronrohrbacher.com</p>